* {
  padding   : 0;
  margin    : 0;
  box-sizing: border-box;
}

body {
  background     : url('./assets/images/white-cloud-sky-background.jpg') no-repeat center;
  height         : 100vh;
  overflow       : hidden;
  background-size: cover;
}

h2 {
  text-align   : center;
  margin-bottom: 20px
}

.container {
  max-width       : 500px;
  margin          : auto;
  background-color: rgba(21, 113, 159, 0.5);
  height          : 650px;
  border-radius   : 16px;
  padding         : 24px;
}

.search {
  display        : flex;
  justify-content: center;
  width          : 100%;
  gap            : 16px;
  align-items    : center;
}

.btn {
  background-color: #ffffff;
  outline         : none;
  border          : none;
  width           : 40px;
  height          : 40px;
  min-width       : 40px;
  border-radius   : 50%;
  cursor          : pointer;
}

input {
  background-color: transparent;
  border          : 1px solid #ffffff;
  outline         : none;
  height          : 44px;
  padding-left    : 16px;
  color           : #ffffff;
  border-radius   : 8px;
  width           : 100%;
}

input::placeholder {
  color: #ffffff;
}